__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

.venv/
env/
venv/
ENV/

.vscode/
.idea/

docs/_build/
/docs/TEST_RUN/
docs/documentation/api/generated
docs/experimental/api/generated

.DS_Store
Thumbs.db
