{%- macro automodule(name, options) -%}
.. automodule:: {{ name }}
{%- for option in options %}
   :{{ option }}:
{%- endfor %}
{%- endmacro -%}

{# --- TITLE (removed "module" suffix) --- #}
{%- if show_headings %}
{{- modname | e | heading }}
{%- endif %}

{{ automodule(modname, automodule_options) }}
